@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply font-normal rounded-lg text-sm px-2 py-1.5 text-center transition-colors duration-200;
}

/* Botón estilo "Aceptar" */
.btn-primary {
  @apply text-white bg-[#1E6CFF] hover:bg-[#1A5FE0] focus:ring-4 focus:ring-[#A9CDFF] px-4;
}

/* Botón estilo "Ignorar" */
.btn-outline {
  @apply text-[#1E6CFF] bg-white border border-[#1E6CFF] hover:bg-[#1E6CFF] hover:text-white focus:ring-4 focus:ring-[#A9CDFF] px-4;
}

.chat-bubble-doctor {
  @apply bg-[#00264D] text-white rounded-xl rounded-br-none;
}

.chat-bubble-paciente {
  @apply bg-[#F4F5F6] text-gray-800 rounded-xl rounded-tl-none;
}

.chat-time-doctor {
  @apply text-right text-white;
}

.chat-time-paciente {
  @apply text-left text-gray-400;
}

input[type="text"] {
  background-color: #F4F5F6;
  color: #333;
}

input[type="text"]::placeholder {
  color: #888;
}

.conversation-container {
  @apply bg-[#F4F5F6] rounded pt-4 pb-4 px-4;
}